<html>
<head>
<title> OB BOEDEKASSE </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<meta http-equiv="refresh" content="30;url=http://192.168.0.100:5001/"></head> -->
<body>
	<h1>AKTIVE SPILLERE I ØB </h1>
	<h3><a href="/kampe"> KAMPE </a></h3>
	
	<h3><a href="/regler"> Regler </a></h3>
	<h3><a href="/tjek-spiller"> tjek-spiller </a></h3>

	<table>
	<tr>
		<th>Spiller</th>
		<th>Økonomi<th>
	</tr>

	{% for i in range(len_list) %}
	<tr>
		<td> {{player[i]}} </td>
		<td> {{economy_list[i]}} </td>
	</tr>
	{% endfor %}

	</table>
	

</body>
</html>
