<html>
<head>
<title> OB BOEDEKASSE </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<meta http-equiv="refresh" content="30;url=http://192.168.0.100:5001/"></head> -->
<body>
	<h1>Bødekasse regler</h1>
	<a href="/"> forside </a>
	<table>
	<tr>
	<th>Regel</th>
	<th>Bøde</th>
	</tr>

	<tr> 
	<td>Vundet kamp </td>
	<td> 10kr,- </td>
	</tr>
			
	<tr> 
	<td>Uafgjort kamp </td>
	<td> 20kr,- </td>
	</tr>
	
	<tr> 
	<td>Tabt kamp </td>
	<td> 30kr,- </td>
	</tr>
			
	
	<tr> 
	<td>Gult kort</td>
	<td> 50kr,- </td>
	</tr>
		
	<tr> 
	<td>Rødt kort </td>
	<td> 100kr,- </td>
	</tr>
	


	</table>
	

</body>
</html>
