<html>
<head>
<title> OB BOEDEKASSE </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<meta http-equiv="refresh" content="30;url=http://192.168.0.100:5001/"></head> -->
<body>
	<h1>AKTIVE SPILLERE I ØB </h1>
	<h3><a href="/kampe"> KAMPE </a></h3>
	
	<h3><a href="/regler"> Regler </a></h3>

	<form action = "/tjek-spiller" method = "post">
		<p> Vælg en spiller </p>
		<select name= spiller method="GET" action="/tjek-spiller">
    		{% for player in dbu_players_list %}
    		<option value= "{{player}}" SELECTED>{{player}}</option>"
    		{% endfor %}
		</select>
		<p><input type = "submit" value = "tjek" /></p>
		
	</form>

	<h4>Spiller: {{player}}</h4>
	<p> Har spillet følgende kampe:</p>
	{% if len_active_games %}
	{% for i in range(len_active_games) %}
	<p><a href="https://www.dbu.dk/resultater/kamp/{{active_list[i]}}_{{dbu_season_ID}}/holdopstillinger">{{active_list[i]}}: Bøde= {{fine_list[i]}}</a></<p>
	
	{% endfor %}
	<p> SUM: {{fine_sum}}kr,-</p>
	{% endif %}
</body>
</html>
